[Unit]
Description=SUNNYCoin Peer-to-Peer Network Daemon
 
[Service]
Type=simple
User=nobody
ExecStart=/usr/bin/sunnycoind --conf=/etc/sunnycoind/sunnycoind.cfg
 
[Install]
WantedBy=multi-user.target